@model Formatics.Models.Medicine
@{ 
    

}
    <table id="DetailsMedicineView">
        <hr />

        @foreach (var item in Model.symptoms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)

                </td>

            </tr>
        }

        @foreach (var item in Model.ingredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)

                </td>

            </tr>
        }

    </table>       

