@model Formatics.Models.Medicine
@{ 
    var symptoms = ViewData["Symptoms"] as List<string>;
    var ingredients = ViewData["Ingredients"] as List<string>;

}
    <table id="DetailsMedicineView" hidden>
        <hr />

        @foreach (var item in symptoms)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)

                </td>

            </tr>
        }

        @foreach (var item in ingredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)

                </td>

            </tr>
        }

    </table>       

