@model IEnumerable<String>

@{

    var ingredients = Model;
}
<div style="border:double;  border-color: olivedrab">

    <h4>Ingredients</h4>
    <table class="table">


        @foreach (var item in ingredients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }

    </table>
</div>