@model IEnumerable<String>

@{

    var symptoms = Model;
}
    <div style="border:double;  border-color: olivedrab">
        <h4>Symptoms</h4>
        <table class="table">


            @foreach (var item in symptoms)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item)
                    </td>
                </tr>
            }

        </table>
    </div>